<!-- views/partials/footer.ejs -->
<div class="footer">
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container" id="footer">
      <p class="copyright"> © 2017. A <a href="http://codingforproduct.com/" target="_blank">Coding For Product</a> Project</p>
    </div>
  </nav>
</div>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>
