<!-- views/partials/head.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Rides For Rewards</title>
	<link rel="shortcut icon" href="/img/favicon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Racing+Sans+One|Roboto">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">
          <img src="/img/metro-logo-400x400.png" width="40" height="40" class="d-inline-block align-bottom" alt="metro logo">
          <p> Rides For Rewards</p>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><i class="fa fa-lg fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-lg fa-facebook-official" aria-hidden="true"></i></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="dropdown">My Account  <i class="fa fa-user" aria-hidden="true"></i>  <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/home">View My Points</a></li>
              <li><a href="/myrewards">Get Rewards</a></li>
              <li><a href="https://www.metro.net/riding/trip-planner/" target="_blank">Plan My Trip</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/logout">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container" id="body-container">
    <div class="content-wrapper">
<!-- END views/partials/head.ejs -->
