<% include partials/land-head %>

<div id="learn-more-content">
  <div class="jumbotron">
    <div class="row" id="learn-more-title">
      <h1 class="text-center">Earning points is easy!</h1>
    </div>
    <div class="row how-to-row">
      <div class="col-xs-3">
        <i class="fa fa-2x fa-check how-to-check" aria-hidden="true"></i>
      </div>
      <div class="col-xs-9">
        <h3 class="how-to-header">Link your TAP card to Rides For Rewards</h3>
        <p class="how-to-descrip">You can find the number on the back of your TAP card.</p>
      </div>
    </div>
    <div class="row how-to-row">
      <div class="col-xs-3">
        <i class="fa fa-2x fa-check how-to-check" aria-hidden="true"></i>
      </div>
      <div class="col-xs-9">
        <h3 class="how-to-header">Ride the Metro</h3>
        <p class="how-to-descrip">Bus, bike, or rail, we'll add points to your account based on your distance traveled.</p>
      </div>
    </div>
    <div class="row how-to-row">
      <div class="col-xs-3">
        <i class="fa fa-2x fa-check how-to-check" aria-hidden="true"></i>
      </div>
      <div class="col-xs-9">
        <h3 class="how-to-header">Use your rewards at local businesses</h3>
        <p class="how-to-descrip">You can redeem your points for free food and discounted merchandise at businesses all across the LA Metro network. Redeem on this site and then check your email for a voucher code.</p>
      </div>
      <div class="row" id="learn-more-button">
        <div class="col-xs-12">
          <a href="/signup" class="btn btn-red" id="sign-up-button">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>
