<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Rides For Rewards</title>
	<link rel="shortcut icon" href="http://www.icon100.com/up/3911/128/146-Los-Angeles-metro-logo.png">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
    <nav class="navbar">
      <div class="container">
      </div>
    </nav>

    <div class="circle">Rides for Rewards</div>

    <div class="box"></div>

    <div class="plan-trip">
        <button type="button" class="btn btn-Plan-my-Trip">Plan My Trip</button>
    </div>

    <div class="see-rewards">
      <button type="button" class="btn btn-See-my-rewards">See my Rewards</button>
    </div>


    <div class="footer">

    </div>
</body>
</html>
