html {
	height: 100%;
}

body {
  background: url(/img/landing.jpg);
  background-size: cover;
	background-position: center;
  background-repeat: no-repeat;
}

.jumbotron {
  margin-right: 0;
  margin-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(29, 129, 120, 0.67);
}

.jumbotron p {
	margin-right: 22%;
}

#content {
	text-align: center;
  text-transform: none;
	padding-top: 12%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

#learn-more-content {
	text-align: center;
  text-transform: none;
	padding-top: 4%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

#learn-more-content .jumbotron {
	background-color: rgba(29, 129, 120, 0.85);
}

#metro-logo {
  display: inline-block;
  height: 100px;
  width: 100px;;
}

h1 {
  font-family: 'Racing Sans One', sans-serif;
	font-weight: 700;
	font-size: 5em;
  display: inline;
}

#learn-more-title {
	font-size: 3em;
	padding-bottom: 2%;
	text-align: center;
}

#learn-more-button {
	text-align: center;
}

.how-to-header {
  margin-top: 0;
}

.how-to-row {
  margin-bottom: 2%;
	text-align: left;
}

.how-to-check {
  float: right;
}

.how-to-descrip {
  font-size: 0.7em;
}


h2 {
  text-transform: lowercase;
}

a h2 {
	color: #B95314;
}

hr {
	width: 600px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

input {
  background-color: #59A9A0;
  border: 0;
  border-radius: 3px;
}

.btn {
  margin: 0px 10px;
	max-width: 300px;
}

#sign-in-button,
#sign-up-button {
	max-width: 150px;
}

.footer {
  border: none;
}
